<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Backgammon</title>

    <meta name="viewport" content="width=950"/>

    <link rel="stylesheet" href="../static/css/board.css"/>

    <!-- include source files here... -->
    <script type="text/javascript" src="../static/javascript/Game.js"></script>
    <script type="text/javascript" src="../static/javascript/Player.js"></script>
    <script type="text/javascript" src="../static/javascript/Point.js"></script>
    <script type="text/javascript" src="../static/javascript/Checker.js"></script>
    <script type="text/javascript" src="../static/javascript/DiceRoller.js"></script>
    <script type="text/javascript" src="../static/javascript/DiceNumberGenerator.js"></script>
    <script type="text/javascript" src="../static/javascript/Gui.js"></script>
  </head>

  <body>
    <div id="gui">
      <div id="game-board">

        <div id="whiteDiceNr1Container" class="dice dice-white hidden">
          <div id="whiteDiceNr1" class="number white-one"></div>
        </div>
        <div id="whiteDiceNr2Container" class="dice dice-white hidden">
          <div id="whiteDiceNr2" class="number white-one"></div>
        </div>

        <div id="brownDiceNr1Container" class="dice dice-brown hidden">
          <div id="brownDiceNr1" class="number brown-three"></div>
        </div>
        <div id="brownDiceNr2Container" class="dice dice-brown hidden">
          <div id="brownDiceNr2" class="number brown-three"></div>
        </div>

        <div id="point-player2-graveyard" class="point" style="top:331px;left:395px;"></div>
        <div id="point-player1-home" class="point" style="top:331px;left:785px;"></div>
        <div id="point1" class="point" style="top:331px;left:727px;"></div>
        <div id="point2" class="point" style="top:331px;left:672px;"></div>
        <div id="point3" class="point" style="top:331px;left:617px;"></div>
        <div id="point4" class="point" style="top:331px;left:562px;"></div>
        <div id="point5" class="point" style="top:331px;left:507px;"></div>
        <div id="point6" class="point" style="top:331px;left:452px;"></div>
        <div id="point7" class="point" style="top:331px;left:342px;"></div>
        <div id="point8" class="point" style="top:331px;left:287px;"></div>
        <div id="point9" class="point" style="top:331px;left:232px;"></div>
        <div id="point10" class="point" style="top:331px;left:177px;"></div>
        <div id="point11" class="point" style="top:331px;left:122px;"></div>
        <div id="point12" class="point" style="top:331px;left:67px;"></div>
        <div id="point13" class="point" style="top:39px;left:67px;"></div>
        <div id="point14" class="point" style="top:39px;left:122px;"></div>
        <div id="point15" class="point" style="top:39px;left:177px;"></div>
        <div id="point16" class="point" style="top:39px;left:232px;"></div>
        <div id="point17" class="point" style="top:39px;left:287px;"></div>
        <div id="point18" class="point" style="top:39px;left:342px;"></div>
        <div id="point19" class="point" style="top:39px;left:452px;"></div>
        <div id="point20" class="point" style="top:39px;left:507px;"></div>
        <div id="point21" class="point" style="top:39px;left:562px;"></div>
        <div id="point22" class="point" style="top:39px;left:617px;"></div>
        <div id="point23" class="point" style="top:39px;left:672px;"></div>
        <div id="point24" class="point" style="top:39px;left:727px;"></div>
        <div id="point-player2-home" class="point" style="top:39px;left:785px;"></div>
        <div id="point-player1-graveyard" class="point" style="top:39px;left:395px;"></div>

        <div id="player2">
          <label id="player2Name">Player2</label>
          <span class="white-small-checker"></span>
          <span id="player2Moves">300</span>
        </div>

        <div id="player1">
          <label id="player1Name">Player1</label>
          <span class="brown-small-checker"></span>
          <span id="player1Moves">300</span>
        </div>
      </div><!-- end of game board -->

      <div id="menu" class="small_button pointer" style="right:5px;top:5px;">Menu</div>
      <div class="button pointer" style="right:5px;top:189px;">
        <div id="undo" class="undo">Undo</div>
      </div>
      <div class="button pointer" style="right:5px;top:303px;">
        <div id="submit" class="submit">Submit</div>
      </div>
      <div class="button pointer" style="right:5px;bottom:0px;">
        <div id="send" class="send">Send</div>
      </div>
      <div id="chat">
        <div id="log">
        </div>
        <input type="text" id="chat_input"/>
      </div>
    </div><!-- end of gui -->
  </body>
</html>
