

.hidden {
    display: none;
}

#game-board {
	position: absolute;
    width: 420px;
    min-width: 420px;
    height: 300px;
    min-height: 300px;
    background-image: url("../images/board.png");
    background-size: 420px 300px;
    box-shadow: inset 0 0 5px #000000;
}

#blackDiceNr1 {
	position: absolute;
	top: 133px;
	left:227px;
}

#blackDiceNr2 {
	position: absolute;
	top: 133px;
	left:257px;
}

#blackDiceNr3 {
	position: absolute;
	top: 133px;
	left:287px;
}

#blackDiceNr4 {
	position: absolute;
	top: 133px;
	left:317px;
}

#whiteDiceNr1 {
	position: absolute;
	top: 133px;
	left:140px;
}

#whiteDiceNr2 {
	position: absolute;
	top: 133px;
	left:110px;
}

#whiteDiceNr3 {
	position: absolute;
	top: 133px;
	left:80px;
}

#whiteDiceNr4 {
	position: absolute;
	top: 133px;
	left:50px;
}

.point {
  position: absolute;
  height: 122px;
  width: 25px;
}

.home {
  position: absolute;
  height: 90px;
  width: 20px;
}

.start {
  position: absolute;
  height: 25px;
  width: 25px;
}

.temp {
    opacity: 0.3;
}

.checker {
    position: absolute;
    width: 25px;
    min-width: 25px;
    height: 25px;
    min-height: 25px;
    background-image: url("../images/checkers.png");
    background-size: 25px 50px;
}

.checker.selected {
  background-image: url("../images/checkers_active.png");
  background-size: 25px 50px;
}

.checker-white {
    background-position: 0px 0px;
}
    
.checker-black {
    background-position: 0px -25px;
}

.dice {
    position: absolute;
    width: 32px;
    min-width: 32px;
    height: 32px;
    min-height: 32px;
    background-image: url("../images/dices.png");
    background-size: 224px 64px;
}

.dice-crossed {
    position: absolute;
    width: 32px;
    min-width: 32px;
    height: 32px;
    min-height: 32px;
    background-image: url("../images/crossed-dices.png");
    background-size: 224px 64px;
}

.dice-faded {
    position: absolute;
    width: 32px;
    min-width: 32px;
    height: 32px;
    min-height: 32px;
    background-image: url("../images/dices.png");
    background-size: 224px 64px;
    opacity: 0.3;
}

.white-1 {
    background-position: -32px 0px;
}

.white-2 {
    background-position: -64px 0px;
}

.white-3 {
    background-position: -96px 0px;
}

.white-4 {
    background-position: -128px 0px;
}

.white-5 {
    background-position: -160px 0px;
}

.white-6 {
    background-position: -192px 0px;
}

.black-1 {
    background-position: -32px -32px;
}

.black-2 {
    background-position: -64px -32px;
}

.black-3 {
    background-position: -96px -32px;
}

.black-4 {
    background-position: -128px -32px;
}

.black-5 {
    background-position: -160px -32px;
}

.black-6 {
    background-position: -192px -32px;
}

.topdown-checker {
    position: absolute;
    width: 22px;
    min-width: 22px;
    height: 8px;
    min-height: 8px;
    background-image: url("../images/checkers_topdown.png");
    background-size: 22px 17px;
}

.topdown-white {
    background-position: 0px 0px;
}

.topdown-black {
    background-position: 0px -8px;
}

.checker-count {
	position:absolute;
	top:2px;
	left:2px;
	height:12px;
	width:20px;
	text-align:center;
	pointer-events:none;
}

.player {
	display: inline-block;
    padding: 5px;
    width: 200px;
    word-wrap: break-word;
}

.player.selected {

}

.player-busy::before {
	content: "\231b";
	margin-left: 10px;
}

.player-ready::before {
	content: "\e013";
	margin-left: 10px;
}

.white-small-checker {
	display: inline-block;
    width: 25px;
    min-width: 25px;
    height: 25px;
    min-height: 25px;
    background-image: url("../images/checkers.png");
    background-size: 100% 200%;
    margin-bottom: -6px;
    margin-left: 6px;
}

.black-small-checker {    
    display: inline-block;
    width: 25px;
    min-width: 25px;
    height: 25px;
    min-height: 25px;
    background-image: url("../images/checkers.png");
    background-size: 100% 200%;
    background-position: 0px 25px;
    margin-bottom: -6px;
    margin-left: 6px;
}

.player-level {
    display: inline-block;
    width: 37px;
    min-width: 37px;
    height: 22px;
    min-height: 22px;
    background-image: url("../images/levels.png");
    background-size: 222px 22px;
    margin-bottom: -6px;
}

.level-0 {
    background-position: 0px 0px;
}


.level-1 {
    background-position: -37px 0px;
}

.level-2 {
    background-position: -74px 0px;
}

.level-3 {
    background-position: -111px 0px;
}

.level-4 {
    background-position: -148px 0px;
}

.level-5 {
    background-position: -185px 0px;
}

